:root {
  scroll-behavior: smooth;
  font-size: 62.5% !important;
  --bold: 700;
  --medium: 500;
}
a {
  text-decoration: none;
  display: inline-block;
}
body {
  font-family: 'Montserrat', sans-serif !important;
}
h1 {
  font-weight: var(--bold);
}
p {
  margin-bottom: 0;
}
.f-preto {
  color: #000000;
}
.f-branco {
  color: #ffffff;
}
.f-verde {
  color: #54c076;
}
.texto-borda-verde {
  border: 4px solid #54c076;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.botao {
  font-size: 20px;
  margin: 10px 0px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
  text-decoration: none;
  border-radius: 5px;
  font-weight: var(--bold);
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 20px;
}
.botao:hover {
  transform: scale(0.98);
}
.botao-verde {
  background: #54c076;
}
.botao-verde:hover {
  color: #ffffff;
}
/* sessao-1 */
section.sessao-1 {
  background: url('../img/fundo-papel.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
section.sessao-1 .logo {
  width: 300px;
  margin: 30px 0px;
}
section.sessao-1 h1 {
  font-size: 70px;
}
section.sessao-1 h2 {
  font-size: 32px;
}
section.sessao-1 p {
  margin-top: 50px;
  width: 425px;
  font-size: 28px;
  line-height: 1.2;
  font-weight: var(--bold);
}
section.sessao-1 .botao-mobile {
  display: none;
}
/* fim sessao-1 */
/*footer*/
footer {
  background-color: #000000;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
footer a {
  color: #54c076;
}
footer a:hover {
  color: ;
}
/*fim footer*/
